<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <title>Sounds</title>
    <style>
        .dropdown-menu {
            max-height: 200px;
            overflow-y: auto;
        }
        canvas {
            border: 1px dashed black;
        }
    </style>
</head>

<body class="bg-dark">
    <hr>
    <div class="container bg-secondary">
        <div class="row justify-content-md-center py-3">
            <div class="col-md-1">
                <button class="btn btn-success" id="toggle" onclick="toggle()" disabled="true" autocomplete="off">
                    Start
                </button>
            </div>
            <div class="col-md-5">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="devices" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Input Device
                    </button>
                    <div class="dropdown-menu" aria-labelledby="devices">
                        {% for d in devices %}
                        <button class="dropdown-item" type="button" id="{{d['index']}}" onclick="selectDevice(this)">
                            {{d['name']}}
                        </button>
                        {% endfor %}
                    </div>
                    <span id="input-device">Select Input Device</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-7">
                <fieldset>
                    <legend class="small">Save sound event (last 2s of buffer):</legend>
                        <div>
                            {% for event in events %}
                            <button class="btn btn-primary m-1" id="{{event}}" onclick="save(this)">{{event}}</button>
                            {% endfor %}
                        </div>
                </fieldset>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">
                        Fold
                    </span>
                    </div>
                    <input id="fold-input" type="text" class="form-control" 
                        aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="1"/>
                  </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div id="test-fig">
                <canvas id="roll"></canvas>
            </div>
        </div>
        <div class="row justify-content-md-center py-3">
            <div class="chart" id="fig">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="dropdown"  id="fold-dropdown-div">
                <button class="btn btn-info dropdown-toggle" type="button" id="fold-dropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Fold:
                </button>
                <div class="dropdown-menu" aria-labelledby="devices">
                    {% for fold in folds %}
                    <button class="dropdown-item" type="button" id="{{fold}}" onclick="getTable(this)">
                        {{fold}}
                    </button>
                    {% endfor %}
                </div>
                <span id="fold-span" class="ml-2">Select Fold</span>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6" id="df">
                <table class="table table-sm small">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Samples</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table %}
                        <tr><td>{{row[0]}}</td><td>{{row[1]}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script>
        let socket = new WebSocket('ws://' + window.location.host + '/ws')
        let dataTest = [{ "line": { "color": "blue" }, "x": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], "y": [-0.209590387511489, -0.20192923508006402, -0.125599795026844, 0.06877490143333401, 0.0061935846882860005, 0.019254895624578, -0.112608955560844, -0.15673144293375402, -0.13994229625173202, -0.040659162679208], "type": "scatter" }]
        let folds = "{{folds}}".replace('{','').split(',').map(s => parseInt(s));

        Plotly.plot('fig', [{}], { height: 250, margin: { t: 28, b: 28 }, yaxis: { range: [-2000, 2000] } });
        let recording = false;

        async function selectDevice(device) {
            const res = await fetch('/api/rec', {
                method: 'PUT',
                body: JSON.stringify({ 'action': 'device', 'index': device.id })
            });
            const json = await res.json();
            if(json['action'] === 'device'){
                $('#toggle').prop('disabled',false);
            }
            $('#input-device').html(json['device']['name']);
        }

        async function getTable(fold){
            const res = await fetch('/api/rec', {
                method: 'PUT',
                body: JSON.stringify({ 'action':'table', 'fold': fold.id })
            });
            const json = await res.json();
            if(json['action'] === 'table'){
                $('#fold-span').html(json['fold'])
                makeTable('#df', json['table']);
            }  
        }

        async function getX(){
            // get X linspace
            const res = await fetch('/api/rec/x');
            const json = await res.json();
            return json['x'];
        }

        async function getDcs(){
            // get decoded chunk size
            const res = await fetch('/api/rec/dcs');
            const json = await res.json();
            return json['dcs'];
        }

        async function toggle() {
            let action;
            if (recording === false) {
                action = 'start'
            } else {
                action = 'cancel'
            }
            const res = await fetch('/api/rec', {
                method: 'PUT',
                body: JSON.stringify({ 'action': action })
            });
            const json = await res.json()
            if (json['action'] === 'start') {
                $('#toggle').text('Cancel');
                $('#toggle').removeClass('btn-success').addClass('btn-danger');
                recording = true;
            } else if (json['action'] === 'cancel') {
                $('#toggle').text('Start');
                $('#toggle').removeClass('btn-danger').addClass('btn-success');
                recording = false;
            }
        }

        async function save(element) {
            if (recording === true) {
                let fold;
                fold = $('#fold-input').val();
                fold = parseInt(fold || 1);
                
                const res = await fetch('/api/rec', {
                    method: 'PUT',
                    body: JSON.stringify({ 'action': 'save', 'event': element.id, 'fold': fold })
                });
                const json = await res.json()
                if (json['action'] === 'save') {
                    $('#toggle').text('Start');
                    $('#toggle').removeClass('btn-danger').addClass('btn-success');
                    $('#fold-span').html(json['fold']);
                    if(!folds.includes(fold)){
                        folds.push(fold);
                        updateFolds('#fold-dropdown-div',folds,fold);
                    }
                    makeTable('#df', json['table']);
                    recording = false;
                }
                Plotly.update('fig', { x: [json['x']], y: [json['y']] }, {xaxis:{ticksuffix:"s"}});
            }
        }

        function makeTable(id, values) {
            let inner_html = '<table class="table table-sm small">';
            inner_html += '<thead><tr><th scope="col">Category</th><th scope="col">Samples</th></tr></thead>';
            inner_html += '<tbody>';
            values.forEach((e) => {
                inner_html += '<tr><td>' + e[0] + '</td><td>' + e[1] + '</td></tr>'
            });
            inner_html += '</tbody></table>';
            $(id).html(inner_html);
        }

        function updateFolds(id,values) {
            let inner_html = '<button class="btn btn-info dropdown-toggle" type="button" \
                id="fold-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fold:</button>';
            inner_html += '<div class="dropdown-menu" aria-labelledby="devices">';
            values.forEach((e) => {
                inner_html += '<button class="dropdown-item" type="button" id="'
                                + e + '" onclick="getTable(this)">' + e + '</button>';
            });
            inner_html += '</div><span id="fold-span" class="ml-2">'+ fold + '</span>';
            $(id).html(inner_html);
        }
        
        let first_chunk_time = 0;
        let total_bytes = 0;
        async function initCanvas(id){
            let fig = document.getElementById(id);
            let ctx = fig.getContext('2d');
            let cw = fig.width = 500;
            let ch = fig.height = 250;

            let Y = [];
            let testY = [-5,-13,-28,-18,-22,-36,-36,-38,-22,0,-4,-13,-12,-32,-36,-10,
                        -19,-20,18,39,26,12,10,14,19,8,-12,-30,-24,2,-3,-15,-17,-16,-9,
                        -2,5,-5,-11,6,7,1,18,19,-9,2,19,20,0,-4];
            let testY2 = [-5,-13,-28,-18,-22,-36,-36,-38,-22,0,5,13,12,32,36,10,
                        19,20,18,39,26,12,10,14,19,8,-12,-30,-24,2,-3,-15,-17,-16,-9,
                        -2,5,-5,-11,6,7,1,18,19,-9,2,19,20,0,-4];
            
            let X = await getX();
            let xLength = X.length;
            let chunkLength = await getDcs();
            let xStep = cw/xLength;
            let yAxisPos = ch/2;

            function drawAxes(){
                ctx.beginPath();
                ctx.moveTo(cw,yAxisPos);
                ctx.lineTo(0,yAxisPos);
                ctx.stroke();
            }
            function plot(Y){
                let x = 0;
                ctx.clearRect(0,0,cw,ch);
                //drawAxes();
                ctx.beginPath();
                ctx.moveTo(0,yAxisPos - Y[0]);
                for(let y of Y){
                    ctx.lineTo(x,yAxisPos - y)
                    x+=xStep;
                }
                ctx.stroke();
            }
            
            console.log(`chunkLength: ${chunkLength}`);
            socket.onmessage = event => {
                st = 0
                message = JSON.parse(event.data);
                if(message['roll'] !== undefined){
                    if(first_chunk_time === 0){
                        first_chunk_time = (new Date()).getTime()/1000;
                    }
                    tailY = message['roll'];
                    if(Y.length >= xLength){
                        Y.splice(0,chunkLength);
                    }
                    Y.push(...tailY);
                    total_bytes += chunkLength*2
                    if(st==0){
                        //plot(Y);
                    }
                    if(st > 20){
                        st = 0;
                    } else {
                        st++;
                    }
                    //plot(Y);
                }
            };
        }
        initCanvas('roll');
        setInterval(() => {
            if(recording===true){
                now = (new Date()).getTime()/1000;
                delta_t = now - first_chunk_time;
                average = (total_bytes/delta_t)/1024;
                console.log(`average transfer rate: ${average}`);
            }
        }, 250);
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>